In [1]:
from Linear_Regression import LinearRegressiongradient

In [2]:
import numpy as np

In [3]:
from sklearn import datasets

In [4]:
import pandas as pd

In [5]:
cc=datasets.make_regression(n_samples=100, n_features=10)

In [6]:
cc[0].shape[0]

100

In [7]:
idenxs=np.random.choice(len(cc[0]),75,replace=False)

In [8]:
idenxs

array([15, 19, 11, 90, 99, 81, 57, 24, 49, 53, 76, 73, 72, 36, 32, 89, 31,
        5, 74, 97, 79, 40, 25, 18, 17, 37,  3, 92, 23, 96, 77, 66, 75, 69,
       87, 26, 56,  8,  2, 30, 13, 21, 60, 83,  7, 51, 84, 47, 68, 71, 33,
       93, 64, 86, 50, 35,  9, 94, 34, 20, 10,  1, 14, 65, 67, 85, 62, 16,
       88, 98, 12, 58,  6, 52, 38])

In [9]:
train=np.zeros([75,10])

In [10]:
train.shape

(75, 10)

In [11]:
test=np.zeros([25,10])

In [12]:
labels_train=np.zeros([75,1])

In [13]:
labels_test=np.zeros([25,1])

In [14]:
train

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [15]:
j=0
k=0
for i in range(100):
    if i in idenxs:
        train[j]=cc[0][i]
        labels_train[j]=cc[1][i]
        j+=1
    else :
        test[k]=cc[0][i]
        labels_test[k]=cc[1][i]
        k+=1

In [16]:
test[24]

array([ 1.05883515, -0.66257526,  0.40440249,  1.2093692 ,  1.07032923,
       -3.05299218, -1.52134115,  0.8025166 , -1.53755198,  1.21427947])

In [17]:
cc[0][45]

array([-1.06293958,  0.36296555,  0.63290794, -0.21889512, -2.00165332,
        0.39069605, -0.30098325, -0.34732585, -0.12104216,  0.97211533])

In [18]:
traindf = pd.DataFrame(train, columns = ['A','B','C','D','E','F','G','H','I','K'])

In [19]:
testdf = pd.DataFrame(test, columns = ['A','B','C','D','E','F','G','H','I','K'])

In [20]:
labels_traindf = pd.DataFrame(labels_train, columns = ['Column_A'])

In [21]:
labels_testdf = pd.DataFrame(labels_test, columns = ['Column_A'])

In [28]:
a=LinearRegressiongradient(0.01,2,100)

In [29]:
a.learn(traindf,labels_traindf)

batch size:  37
w0  [[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]]
epoch number 1 :

error        Column_A
0    63.138960
1   -30.805034
2   -82.754809
3   -29.406220
4   -29.790212
..         ...
70  -82.778439
71   37.030617
72  204.953978
73  -22.302527
74  -96.935963

[75 rows x 1 columns]
mse :  Column_A    20240.564504
dtype: float64
epoch number 2 :

error        Column_A
0    54.030600
1   -26.433781
2   -73.026339
3   -25.356696
4   -29.240906
..         ...
70  -67.565492
71   31.060189
72  179.597739
73  -12.827590
74  -83.381909

[75 rows x 1 columns]
mse :  Column_A    14740.397561
dtype: float64
epoch number 3 :

error        Column_A
0    46.023176
1   -22.705271
2   -64.531523
3   -22.060124
4   -28.434133
..         ...
70  -54.919283
71   26.064350
72  157.259595
73   -5.814743
74  -71.807610

[75 rows x 1 columns]
mse :  Column_A    10769.438777
dtype: float64
epoch number 4 :

error        Column_A
0    39.015806
1   -19.521985
2   -57.103434
3   -19.350055
4   -27.442893
..         ...
70  -44.424542
71   21.883123
72  137.607032
73   -0.714749
74  -61.922423

[75 rows x 1 columns]
mse :  Column_A    7893.664532
dtype: float64
epoch number 5 :

error        Column_A
0    32.909427
1   -16.801676
2   -50.598819
3   -17.098764
4   -26.324810
..         ...
70  -35.731474
71   18.382786
72  120.338117
73    2.907557
74  -53.477139

[75 rows x 1 columns]
mse :  Column_A    5804.604223
dtype: float64
epoch number 6 :

error        Column_A
0    27.609179
1   -14.474897
2   -44.894654
3   -15.208275
4   -25.125157
..         ...
70  -28.545645
71   15.451580
72  105.180156
73    5.396061
74  -46.258482

[75 rows x 1 columns]
mse :  Column_A    4282.368134
dtype: float64
epoch number 7 :

error       Column_A
0   23.025908
1  -12.482938
2  -39.885192
3  -13.603424
4  -23.879290
..        ...
70 -22.619404
71  12.996119
72  91.887976
73   7.021706
74 -40.084238

[75 rows x 1 columns]
mse :  Column_A    3169.746379
dtype: float64
epoch number 8 :

error       Column_A
0   19.077011
1  -10.776117
2  -35.479459
3  -12.226509
4  -22.614614
..        ...
70 -17.744596
71  10.938380
72  80.242010
73   7.997237
74 -34.798952

[75 rows x 1 columns]
mse :  Column_A    2354.011251
dtype: float64
epoch number 9 :

error       Column_A
0   15.686826
1   -9.312342
2  -31.599111
3  -11.033174
4  -21.352163
..        ...
70 -13.746398
71   9.213177
72  70.046280
73   8.489045
74 -30.270172

[75 rows x 1 columns]
mse :  Column_A    1754.094897
dtype: float64
epoch number 10 :

error       Column_A
0   12.786688
1   -8.055917
2  -28.176611
3   -9.989238
4  -20.107882
..        ...
70 -10.478092
71   7.766061
72  61.126379
73   8.626668
74 -26.385166

[75 rows x 1 columns]
mse :  Column_A    1311.528428
dtype: float64
epoch number 11 :

error       Column_A
0   10.314761
1   -6.976542
2  -25.153671
3   -9.068278
4  -18.893656
..        ...
70  -7.816646
71   6.551544
72  53.327494
73   8.510416
74 -23.048079

[75 rows x 1 columns]
mse :  Column_A    984.02063
dtype: float64
epoch number 12 :

error       Column_A
0    8.215718
1   -6.048469
2  -22.479928
3   -8.249766
4  -17.718136
..        ...
70  -5.658974
71   5.531634
72  46.512513
73   8.217468
74 -20.177467

[75 rows x 1 columns]
mse :  Column_A    740.894289
dtype: float64
epoch number 13 :

error       Column_A
0    6.440332
1   -5.249797
2  -20.111814
3   -7.517660
4  -16.587413
..        ...
70  -3.918778
71   4.674592
72  40.560242
73   7.806759
74 -17.704172

[75 rows x 1 columns]
mse :  Column_A    559.833511
dtype: float64
epoch number 14 :

error       Column_A
0    4.945015
1   -4.561886
2  -18.011587
3   -6.859323
4  -15.505551
..        ...
70  -2.523878
71   3.953903
72  35.363750
73   7.322870
74 -15.569500

[75 rows x 1 columns]
mse :  Column_A    424.558889
dtype: float64
epoch number 15 :

error       Column_A
0    3.691335
1   -3.968854
2  -16.146513
3   -6.264705
4  -14.475026
..        ...
70  -1.413966
71   3.347417
72  30.828834
73   6.799139
74 -13.723651

[75 rows x 1 columns]
mse :  Column_A    323.161198
dtype: float64
epoch number 16 :

error       Column_A
0    2.645537
1   -3.457158
2  -14.488160
3   -5.725726
4  -13.497071
..        ...
70  -0.538701
71   2.836625
72  26.872622
73   6.260135
74 -12.124380

[75 rows x 1 columns]
mse :  Column_A    246.903766
dtype: float64
epoch number 17 :

error       Column_A
0    1.778073
1   -3.015239
2  -13.011799
3   -5.235808
4  -12.571960
..        ...
70   0.143889
71   2.406058
72  23.422300
73   5.723616
74 -10.735849

[75 rows x 1 columns]
mse :  Column_A    189.359351
dtype: float64
epoch number 18 :

error       Column_A
0    1.063159
1   -2.633228
2  -11.695890
3   -4.789520
4  -11.699229
..        ...
70   0.668755
71   2.042787
72  20.413964
73   5.202091
74  -9.527659

[75 rows x 1 columns]
mse :  Column_A    145.786393
dtype: float64
epoch number 19 :

error       Column_A
0    0.478359
1   -2.302688
2  -10.521644
3   -4.382314
4  -10.877859
..        ...
70   1.064965
71   1.736000
72  17.791587
73   4.704043
74  -8.474008

[75 rows x 1 columns]
mse :  Column_A    112.677053
dtype: float64
epoch number 20 :

error       Column_A
0    0.004205
1   -2.016405
2   -9.472648
3   -4.010328
4  -10.106417
..        ...
70   1.356654
71   1.476657
72  15.506088
73   4.234900
74  -7.552996

[75 rows x 1 columns]
mse :  Column_A    87.42885
dtype: float64
epoch number 21 :

error       Column_A
0   -0.376155
1   -1.768202
2   -8.534543
3   -3.670234
4   -9.383175
..        ...
70   1.563836
71   1.257191
72  13.514509
73   3.797796
74  -6.746018

[75 rows x 1 columns]
mse :  Column_A    68.105478
dtype: float64
epoch number 22 :

error       Column_A
0   -0.677272
1   -1.552791
2   -7.694747
3   -3.359129
4   -8.706199
..        ...
70   1.703072
71   1.071270
72  11.779279
73   3.394160
74  -6.037260

[75 rows x 1 columns]
mse :  Column_A    53.262113
dtype: float64
epoch number 23 :

error       Column_A
0   -0.911683
1   -1.365637
2   -6.942220
3   -3.074450
4   -8.073420
..        ...
70   1.788043
71   0.913594
72  10.267557
73   3.024184
74  -5.413268

[75 rows x 1 columns]
mse :  Column_A    41.817514
dtype: float64
epoch number 24 :

error      Column_A
0  -1.090162
1  -1.202854
2  -6.267262
3  -2.813911
4  -7.482694
..       ...
70  1.830021
71  0.779718
72  8.950655
73  2.687175
74 -4.862583

[75 rows x 1 columns]
mse :  Column_A    32.960121
dtype: float64
epoch number 25 :

error      Column_A
0  -1.221947
1  -1.061105
2  -5.661335
3  -2.575458
4  -6.931843
..       ...
70  1.838274
71  0.665919
72  7.803525
73  2.381833
74 -4.375436

[75 rows x 1 columns]
mse :  Column_A    26.07895
dtype: float64
epoch number 26 :

error      Column_A
0  -1.314944
1  -0.937526
2  -5.116914
3  -2.357229
4  -6.418692
..       ...
70  1.820399
71  0.569073
72  6.804310
73  2.106459
74 -3.943485

[75 rows x 1 columns]
mse :  Column_A    20.712606
dtype: float64
epoch number 27 :

error      Column_A
0  -1.375898
1  -0.829654
2  -4.627357
3  -2.157533
4  -5.941094
..       ...
70  1.782602
71  0.486557
72  5.933943
73  1.859112
74 -3.559597

[75 rows x 1 columns]
mse :  Column_A    16.511562
dtype: float64
epoch number 28 :

error      Column_A
0  -1.410556
1  -0.735372
2  -4.186795
3  -1.974821
4  -5.496951
..       ...
70  1.729935
71  0.416169
72  5.175795
73  1.637728
74 -3.217664

[75 rows x 1 columns]
mse :  Column_A    13.210191
dtype: float64
epoch number 29 :

error      Column_A
0  -1.423794
1  -0.652862
2  -3.790032
3  -1.807678
4  -5.084227
..       ...
70  1.666492
71  0.356057
72  4.515376
73  1.440208
74 -2.912442

[75 rows x 1 columns]
mse :  Column_A    10.60596
dtype: float64
epoch number 30 :

error      Column_A
0  -1.419747
1  -0.580553
2  -3.432463
3  -1.654802
4  -4.700959
..       ...
70  1.595573
71  0.304662
72  3.940054
73  1.264477
74 -2.639427

[75 rows x 1 columns]
mse :  Column_A    8.543933
dtype: float64
epoch number 31 :

error      Column_A
0  -1.401903
1  -0.517097
2  -3.110004
3  -1.514997
4  -4.345266
..       ...
70  1.519824
71  0.260671
72  3.438826
73  1.108529
74 -2.394736

[75 rows x 1 columns]
mse :  Column_A    6.905179
dtype: float64
epoch number 32 :

error      Column_A
0  -1.373201
1  -0.461330
2  -2.819022
3  -1.387163
4  -4.015353
..       ...
70  1.441350
71  0.222978
72  3.002109
73  0.970455
74 -2.175018

[75 rows x 1 columns]
mse :  Column_A    5.59809
dtype: float64
epoch number 33 :

error      Column_A
0  -1.336106
1  -0.412246
2  -2.556288
3  -1.270290
4  -3.709510
..       ...
70  1.361809
71  0.190647
72  2.621555
73  0.848463
74 -1.977372

[75 rows x 1 columns]
mse :  Column_A    4.551852
dtype: float64
epoch number 34 :

error      Column_A
0  -1.292679
1  -0.368980
2  -2.318924
3  -1.163446
4  -3.426120
..       ...
70  1.282496
71  0.162891
72  2.289900
73  0.740888
74 -1.799282

[75 rows x 1 columns]
mse :  Column_A    3.711533
dtype: float64
epoch number 35 :

error      Column_A
0  -1.244632
1  -0.330783
2  -2.104366
3  -1.065777
4  -3.163650
..       ...
70  1.204406
71  0.139040
72  2.000815
73  0.646193
74 -1.638562

[75 rows x 1 columns]
mse :  Column_A    3.034368
dtype: float64
epoch number 36 :

error      Column_A
0  -1.193387
1  -0.297009
2  -1.910322
3  -0.976498
4  -2.920656
..       ...
70  1.128291
71  0.118530
72  1.748794
73  0.562974
74 -1.493304

[75 rows x 1 columns]
mse :  Column_A    2.486939
dtype: float64
epoch number 37 :

error      Column_A
0  -1.140111
1  -0.267096
2  -1.734746
3  -0.894887
4  -2.695780
..       ...
70  1.054703
71  0.100879
72  1.529045
73  0.489950
74 -1.361841

[75 rows x 1 columns]
mse :  Column_A    2.043039
dtype: float64
epoch number 38 :

error      Column_A
0  -1.085761
1  -0.240561
2  -1.575807
3  -0.820282
4  -2.487745
..       ...
70  0.984037
71  0.085680
72  1.337395
73  0.425964
74 -1.242713

[75 rows x 1 columns]
mse :  Column_A    1.682043
dtype: float64
epoch number 39 :

error      Column_A
0  -1.031112
1  -0.216983
2  -1.431865
3  -0.752078
4  -2.295354
..       ...
70  0.916558
71  0.072587
72  1.170215
73  0.369972
74 -1.134636

[75 rows x 1 columns]
mse :  Column_A    1.387656
dtype: float64
epoch number 40 :

error      Column_A
0  -0.976788
1  -0.195998
2  -1.301450
3  -0.689719
4  -2.117485
..       ...
70  0.852428
71  0.061305
72  1.024346
73  0.321037
74 -1.036480

[75 rows x 1 columns]
mse :  Column_A    1.146962
dtype: float64
epoch number 41 :

error      Column_A
0  -0.923283
1  -0.177291
2  -1.183245
3  -0.632695
4  -1.953090
..       ...
70  0.791727
71  0.051580
72  0.897038
73  0.278319
74 -0.947245

[75 rows x 1 columns]
mse :  Column_A    0.949684
dtype: float64
epoch number 42 :

error      Column_A
0  -0.870985
1  -0.160586
2  -1.076065
3  -0.580543
4  -1.801190
..       ...
70  0.734473
71  0.043198
72  0.785899
73  0.241072
74 -0.866049

[75 rows x 1 columns]
mse :  Column_A    0.787618
dtype: float64
epoch number 43 :

error      Column_A
0  -0.820191
1  -0.145644
2  -0.978847
3  -0.532838
4  -1.660870
..       ...
70  0.680633
71  0.035975
72  0.688847
73  0.208629
74 -0.792105

[75 rows x 1 columns]
mse :  Column_A    0.654191
dtype: float64
epoch number 44 :

error      Column_A
0  -0.771123
1  -0.132258
2  -0.890635
3  -0.489191
4  -1.531279
..       ...
70  0.630138
71  0.029753
72  0.604070
73  0.180400
74 -0.724717

[75 rows x 1 columns]
mse :  Column_A    0.544121
dtype: float64
epoch number 45 :

error      Column_A
0  -0.723942
1  -0.120246
2  -0.810568
3  -0.449247
4  -1.411622
..       ...
70  0.582889
71  0.024396
72  0.529992
73  0.155861
74 -0.663260

[75 rows x 1 columns]
mse :  Column_A    0.453148
dtype: float64
epoch number 46 :

error      Column_A
0  -0.678755
1  -0.109450
2  -0.737871
3  -0.412683
4  -1.301162
..       ...
70  0.538767
71  0.019788
72  0.465240
73  0.134551
74 -0.607179

[75 rows x 1 columns]
mse :  Column_A    0.37783
dtype: float64
epoch number 47 :

error      Column_A
0  -0.635628
1  -0.099732
2  -0.671846
3  -0.379205
4  -1.199213
..       ...
70  0.497639
71  0.015829
72  0.408619
73  0.116061
74 -0.555974

[75 rows x 1 columns]
mse :  Column_A    0.31537
dtype: float64
epoch number 48 :

error      Column_A
0  -0.594592
1  -0.090970
2  -0.611863
3  -0.348543
4  -1.105135
..       ...
70  0.459364
71  0.012431
72  0.359089
73  0.100033
74 -0.509199

[75 rows x 1 columns]
mse :  Column_A    0.263498
dtype: float64
epoch number 49 :

error      Column_A
0  -0.555652
1  -0.083058
2  -0.557353
3  -0.320452
4  -1.018336
..       ...
70  0.423793
71  0.009521
72  0.315745
73  0.086151
74 -0.466450

[75 rows x 1 columns]
mse :  Column_A    0.220358
dtype: float64
epoch number 50 :

error      Column_A
0  -0.518789
1  -0.075905
2  -0.507805
3  -0.294709
4  -0.938267
..       ...
70  0.390779
71  0.007034
72  0.277798
73  0.074138
74 -0.427365

[75 rows x 1 columns]
mse :  Column_A    0.184436
dtype: float64
epoch number 51 :

error      Column_A
0  -0.483965
1  -0.069427
2  -0.462755
3  -0.271109
4  -0.864417
..       ...
70  0.360171
71  0.004914
72  0.244562
73  0.063750
74 -0.391617

[75 rows x 1 columns]
mse :  Column_A    0.154488
dtype: float64
epoch number 52 :

error      Column_A
0  -0.451132
1  -0.063554
2  -0.421783
3  -0.249469
4  -0.796314
..       ...
70  0.331823
71  0.003112
72  0.215439
73  0.054775
74 -0.358911

[75 rows x 1 columns]
mse :  Column_A    0.129495
dtype: float64
epoch number 53 :

error      Column_A
0  -0.420227
1  -0.058221
2  -0.384513
3  -0.229617
4  -0.733518
..       ...
70  0.305592
71  0.001587
72  0.189907
73  0.047028
74 -0.328978

[75 rows x 1 columns]
mse :  Column_A    0.108615
dtype: float64
epoch number 54 :

error      Column_A
0  -0.391184
1  -0.053374
2  -0.350602
3  -0.211401
4  -0.675623
..       ...
70  0.281341
71  0.000302
72  0.167512
73  0.040345
74 -0.301576

[75 rows x 1 columns]
mse :  Column_A    0.091157
dtype: float64
epoch number 55 :

error      Column_A
0  -0.363928
1  -0.048962
2  -0.319740
3  -0.194681
4  -0.622255
..       ...
70  0.258935
71 -0.000775
72  0.147860
73  0.034585
74 -0.276486

[75 rows x 1 columns]
mse :  Column_A    0.076546
dtype: float64
epoch number 56 :

error      Column_A
0  -0.338382
1  -0.044942
2  -0.291646
3  -0.179328
4  -0.573064
..       ...
70  0.238248
71 -0.001672
72  0.130604
73  0.029625
74 -0.253508

[75 rows x 1 columns]
mse :  Column_A    0.06431
dtype: float64
epoch number 57 :

error      Column_A
0  -0.314466
1  -0.041276
2  -0.266067
3  -0.165226
4  -0.527728
..       ...
70  0.219161
71 -0.002412
72  0.115445
73  0.025356
74 -0.232459

[75 rows x 1 columns]
mse :  Column_A    0.054055
dtype: float64
epoch number 58 :

error      Column_A
0  -0.292100
1  -0.037928
2  -0.242774
3  -0.152269
4  -0.485951
..       ...
70  0.201558
71 -0.003016
72  0.102120
73  0.021685
74 -0.213174

[75 rows x 1 columns]
mse :  Column_A    0.045455
dtype: float64
epoch number 59 :

error      Column_A
0  -0.271204
1  -0.034868
2  -0.221557
3  -0.140360
4  -0.447456
..       ...
70  0.185332
71 -0.003504
72  0.090400
73  0.018531
74 -0.195504

[75 rows x 1 columns]
mse :  Column_A    0.038239
dtype: float64
epoch number 60 :

error      Column_A
0  -0.251699
1  -0.032069
2  -0.202227
3  -0.129411
4  -0.411989
..       ...
70  0.170382
71 -0.003891
72  0.080086
73  0.015823
74 -0.179310

[75 rows x 1 columns]
mse :  Column_A    0.03218
dtype: float64
epoch number 61 :

error      Column_A
0  -0.233506
1  -0.029506
2  -0.184614
3  -0.119342
4  -0.379314
..       ...
70  0.156613
71 -0.004190
72  0.071003
73  0.013500
74 -0.164468

[75 rows x 1 columns]
mse :  Column_A    0.02709
dtype: float64
epoch number 62 :

error      Column_A
0  -0.216550
1  -0.027158
2  -0.168562
3  -0.110078
4  -0.349215
..       ...
70  0.143937
71 -0.004415
72  0.063000
73  0.011509
74 -0.150862

[75 rows x 1 columns]
mse :  Column_A    0.022812
dtype: float64
epoch number 63 :

error      Column_A
0  -0.200759
1  -0.025006
2  -0.153929
3  -0.101553
4  -0.321490
..       ...
70  0.132270
71 -0.004575
72  0.055943
73  0.009804
74 -0.138390

[75 rows x 1 columns]
mse :  Column_A    0.019216
dtype: float64
epoch number 64 :

error      Column_A
0  -0.186061
1  -0.023030
2  -0.140589
3  -0.093706
4  -0.295954
..       ...
70  0.121535
71 -0.004681
72  0.049716
73  0.008344
74 -0.126955

[75 rows x 1 columns]
mse :  Column_A    0.016191
dtype: float64
epoch number 65 :

error      Column_A
0  -0.172389
1  -0.021216
2  -0.128424
3  -0.086481
4  -0.272436
..       ...
70  0.111660
71 -0.004740
72  0.044218
73  0.007096
74 -0.116470

[75 rows x 1 columns]
mse :  Column_A    0.013646
dtype: float64
epoch number 66 :

error      Column_A
0  -0.159678
1  -0.019550
2  -0.117329
3  -0.079826
4  -0.250777
..       ...
70  0.102579
71 -0.004760
72  0.039360
73  0.006029
74 -0.106856

[75 rows x 1 columns]
mse :  Column_A    0.011503
dtype: float64
epoch number 67 :

error      Column_A
0  -0.147867
1  -0.018018
2  -0.107209
3  -0.073696
4  -0.230833
..       ...
70  0.094230
71 -0.004746
72  0.035065
73  0.005119
74 -0.098040

[75 rows x 1 columns]
mse :  Column_A    0.0097
dtype: float64
epoch number 68 :

error      Column_A
0  -0.136896
1  -0.016610
2  -0.097975
3  -0.068046
4  -0.212468
..       ...
70  0.086554
71 -0.004704
72  0.031264
73  0.004342
74 -0.089954

[75 rows x 1 columns]
mse :  Column_A    0.00818
dtype: float64
epoch number 69 :

error      Column_A
0  -0.126712
1  -0.015314
2  -0.089550
3  -0.062839
4  -0.195559
..       ...
70  0.079500
71 -0.004638
72  0.027898
73  0.003680
74 -0.082539

[75 rows x 1 columns]
mse :  Column_A    0.006901
dtype: float64
epoch number 70 :

error      Column_A
0  -0.117261
1  -0.014121
2  -0.081861
3  -0.058039
4  -0.179990
..       ...
70  0.073017
71 -0.004554
72  0.024915
73  0.003117
74 -0.075738

[75 rows x 1 columns]
mse :  Column_A    0.005822
dtype: float64
epoch number 71 :

error      Column_A
0  -0.108493
1  -0.013023
2  -0.074842
3  -0.053612
4  -0.165656
..       ...
70  0.067060
71 -0.004454
72  0.022270
73  0.002637
74 -0.069500

[75 rows x 1 columns]
mse :  Column_A    0.004913
dtype: float64
epoch number 72 :

error      Column_A
0  -0.100363
1  -0.012012
2  -0.068435
3  -0.049529
4  -0.152460
..       ...
70  0.061587
71 -0.004342
72  0.019922
73  0.002230
74 -0.063778

[75 rows x 1 columns]
mse :  Column_A    0.004147
dtype: float64
epoch number 73 :

error      Column_A
0  -0.092826
1  -0.011080
2  -0.062584
3  -0.045763
4  -0.140312
..       ...
70  0.056560
71 -0.004219
72  0.017836
73  0.001884
74 -0.058529

[75 rows x 1 columns]
mse :  Column_A    0.0035
dtype: float64
epoch number 74 :

error      Column_A
0  -0.085841
1  -0.010221
2  -0.057242
3  -0.042287
4  -0.129130
..       ...
70  0.051942
71 -0.004090
72  0.015982
73  0.001590
74 -0.053714

[75 rows x 1 columns]
mse :  Column_A    0.002955
dtype: float64
epoch number 75 :

error      Column_A
0  -0.079370
1  -0.009429
2  -0.052362
3  -0.039080
4  -0.118836
..       ...
70  0.047700
71 -0.003954
72  0.014332
73  0.001341
74 -0.049297

[75 rows x 1 columns]
mse :  Column_A    0.002495
dtype: float64
epoch number 76 :

error      Column_A
0  -0.073376
1  -0.008699
2  -0.047904
3  -0.036119
4  -0.109361
..       ...
70  0.043805
71 -0.003815
72  0.012863
73  0.001130
74 -0.045244

[75 rows x 1 columns]
mse :  Column_A    0.002107
dtype: float64
epoch number 77 :

error      Column_A
0  -0.067826
1  -0.008026
2  -0.043832
3  -0.033386
4  -0.100640
..       ...
70  0.040227
71 -0.003674
72  0.011554
73  0.000952
74 -0.041527

[75 rows x 1 columns]
mse :  Column_A    0.00178
dtype: float64
epoch number 78 :

error      Column_A
0  -0.062688
1  -0.007405
2  -0.040111
3  -0.030862
4  -0.092613
..       ...
70  0.036942
71 -0.003531
72  0.010387
73  0.000801
74 -0.038116

[75 rows x 1 columns]
mse :  Column_A    0.001504
dtype: float64
epoch number 79 :

error      Column_A
0  -0.057933
1  -0.006832
2  -0.036710
3  -0.028531
4  -0.085225
..       ...
70  0.033926
71 -0.003389
72  0.009345
73  0.000674
74 -0.034986

[75 rows x 1 columns]
mse :  Column_A    0.00127
dtype: float64
epoch number 80 :

error      Column_A
0  -0.053532
1  -0.006303
2  -0.033602
3  -0.026379
4  -0.078425
..       ...
70  0.031156
71 -0.003247
72  0.008414
73  0.000566
74 -0.032114

[75 rows x 1 columns]
mse :  Column_A    0.001073
dtype: float64
epoch number 81 :

error      Column_A
0  -0.049460
1  -0.005816
2  -0.030760
3  -0.024390
4  -0.072167
..       ...
70  0.028612
71 -0.003107
72  0.007581
73  0.000476
74 -0.029479

[75 rows x 1 columns]
mse :  Column_A    0.000907
dtype: float64
epoch number 82 :

error      Column_A
0  -0.045694
1  -0.005366
2  -0.028162
3  -0.022553
4  -0.066408
..       ...
70  0.026277
71 -0.002969
72  0.006836
73  0.000400
74 -0.027062

[75 rows x 1 columns]
mse :  Column_A    0.000767
dtype: float64
epoch number 83 :

error      Column_A
0  -0.042211
1  -0.004950
2  -0.025787
3  -0.020855
4  -0.061108
..       ...
70  0.024133
71 -0.002834
72  0.006169
73  0.000336
74 -0.024843

[75 rows x 1 columns]
mse :  Column_A    0.000648
dtype: float64
epoch number 84 :

error      Column_A
0  -0.038990
1  -0.004567
2  -0.023615
3  -0.019287
4  -0.056230
..       ...
70  0.022164
71 -0.002702
72  0.005571
73  0.000282
74 -0.022807

[75 rows x 1 columns]
mse :  Column_A    0.000548
dtype: float64
epoch number 85 :

error      Column_A
0  -0.036011
1  -0.004213
2  -0.021628
3  -0.017837
4  -0.051741
..       ...
70  0.020357
71 -0.002574
72  0.005035
73  0.000237
74 -0.020939

[75 rows x 1 columns]
mse :  Column_A    0.000463
dtype: float64
epoch number 86 :

error      Column_A
0  -0.033258
1  -0.003887
2  -0.019811
3  -0.016497
4  -0.047610
..       ...
70  0.018697
71 -0.002449
72  0.004553
73  0.000199
74 -0.019224

[75 rows x 1 columns]
mse :  Column_A    0.000392
dtype: float64
epoch number 87 :

error      Column_A
0  -0.030713
1  -0.003586
2  -0.018148
3  -0.015258
4  -0.043809
..       ...
70  0.017173
71 -0.002329
72  0.004121
73  0.000167
74 -0.017650

[75 rows x 1 columns]
mse :  Column_A    0.000331
dtype: float64
epoch number 88 :

error      Column_A
0  -0.028361
1  -0.003307
2  -0.016627
3  -0.014113
4  -0.040311
..       ...
70  0.015774
71 -0.002212
72  0.003732
73  0.000140
74 -0.016206

[75 rows x 1 columns]
mse :  Column_A    0.00028
dtype: float64
epoch number 89 :

error      Column_A
0  -0.026188
1  -0.003051
2  -0.015234
3  -0.013055
4  -0.037093
..       ...
70  0.014490
71 -0.002099
72  0.003382
73  0.000118
74 -0.014881

[75 rows x 1 columns]
mse :  Column_A    0.000237
dtype: float64
epoch number 90 :

error      Column_A
0  -0.024179
1  -0.002814
2  -0.013960
3  -0.012076
4  -0.034131
..       ...
70  0.013310
71 -0.001991
72  0.003066
73  0.000099
74 -0.013664

[75 rows x 1 columns]
mse :  Column_A    0.0002
dtype: float64
epoch number 91 :

error      Column_A
0  -0.022324
1  -0.002595
2  -0.012794
3  -0.011171
4  -0.031406
..       ...
70  0.012227
71 -0.001887
72  0.002782
73  0.000084
74 -0.012547

[75 rows x 1 columns]
mse :  Column_A    0.00017
dtype: float64
epoch number 92 :

error      Column_A
0  -0.020610
1  -0.002393
2  -0.011727
3  -0.010334
4  -0.028898
..       ...
70  0.011233
71 -0.001788
72  0.002526
73  0.000071
74 -0.011522

[75 rows x 1 columns]
mse :  Column_A    0.000143
dtype: float64
epoch number 93 :

error      Column_A
0  -0.019026
1  -0.002207
2  -0.010749
3  -0.009560
4  -0.026590
..       ...
70  0.010320
71 -0.001692
72  0.002295
73  0.000060
74 -0.010581

[75 rows x 1 columns]
mse :  Column_A    0.000121
dtype: float64
epoch number 94 :

error      Column_A
0  -0.017564
1  -0.002035
2  -0.009854
3  -0.008844
4  -0.024467
..       ...
70  0.009481
71 -0.001601
72  0.002086
73  0.000051
74 -0.009717

[75 rows x 1 columns]
mse :  Column_A    0.000103
dtype: float64
epoch number 95 :

error      Column_A
0  -0.016213
1  -0.001877
2  -0.009035
3  -0.008182
4  -0.022513
..       ...
70  0.008711
71 -0.001514
72  0.001897
73  0.000043
74 -0.008924

[75 rows x 1 columns]
mse :  Column_A    0.000087
dtype: float64
epoch number 96 :

error      Column_A
0  -0.014965
1  -0.001730
2  -0.008284
3  -0.007570
4  -0.020715
..       ...
70  0.008004
71 -0.001430
72  0.001726
73  0.000037
74 -0.008196

[75 rows x 1 columns]
mse :  Column_A    0.000074
dtype: float64
epoch number 97 :

error      Column_A
0  -0.013813
1  -0.001595
2  -0.007596
3  -0.007003
4  -0.019061
..       ...
70  0.007355
71 -0.001351
72  0.001571
73  0.000031
74 -0.007528

[75 rows x 1 columns]
mse :  Column_A    0.000062
dtype: float64
epoch number 98 :

error      Column_A
0  -0.012749
1  -0.001471
2  -0.006967
3  -0.006479
4  -0.017539
..       ...
70  0.006758
71 -0.001276
72  0.001431
73  0.000027
74 -0.006915

[75 rows x 1 columns]
mse :  Column_A    0.000053
dtype: float64
epoch number 99 :

error      Column_A
0  -0.011767
1  -0.001356
2  -0.006390
3  -0.005995
4  -0.016139
..       ...
70  0.006211
71 -0.001204
72  0.001305
73  0.000023
74 -0.006351

[75 rows x 1 columns]
mse :  Column_A    0.000045
dtype: float64
epoch number 100 :

error      Column_A
0  -0.010860
1  -0.001250
2  -0.005861
3  -0.005546
4  -0.014850
..       ...
70  0.005708
71 -0.001135
72  0.001189
73  0.000020
74 -0.005834

[75 rows x 1 columns]
mse :  Column_A    0.000038
dtype: float64
W0:
 [0.00169275]
 w:
 [[28.51933955]
 [21.87772271]
 [18.22975969]
 [25.49813947]
 [48.05966187]
 [19.77668995]
 [71.7865006 ]
 [73.37051654]
 [22.70607857]
 [57.76210809]]

In [24]:
print(labels_testdf)
print(type(labels_testdf))

      Column_A
0    43.408136
1     9.717640
2   149.362986
3    -7.039899
4   132.070757
5  -388.903434
6   122.532945
7  -141.156617
8   134.600159
9  -152.040688
10   61.206054
11  -98.576644
12 -121.038912
13  -95.548623
14  138.278046
15 -261.124825
16   49.508387
17 -234.931949
18   52.836229
19  139.887792
20  108.980243
21  -97.375275
22   73.136325
23   77.875725
24   29.865741
<class 'pandas.core.frame.DataFrame'>

In [30]:
b=a.infer(testdf)

In [31]:
c=b.to_numpy()

In [32]:
 for i in range(25):
        print("{},{}".format(labels_test[i],c[i]))

[43.40813604],[43.40913341]
[9.7176399],[9.73487561]
[149.36298561],[149.35747463]
[-7.03989937],[-7.04387211]
[132.07075726],[132.06413437]
[-388.90343425],[-388.90496324]
[122.53294547],[122.52268598]
[-141.15661727],[-141.15970705]
[134.60015881],[134.58010229]
[-152.04068808],[-152.03061895]
[61.2060542],[61.20481099]
[-98.57664382],[-98.57452077]
[-121.03891169],[-121.03676798]
[-95.5486231],[-95.54828652]
[138.27804565],[138.28167912]
[-261.12482533],[-261.14360519]
[49.50838691],[49.5045046]
[-234.93194858],[-234.91773857]
[52.83622872],[52.84245581]
[139.88779204],[139.89935649]
[108.98024278],[108.96896472]
[-97.37527483],[-97.37629339]
[73.13632491],[73.14247961]
[77.87572473],[77.87487075]
[29.86574061],[29.87060587]